In [3]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import random
%matplotlib inline
#textblob to apply sentiment analysis 
from textblob import TextBlob

In [4]:
#read the csv file containing musks tweets
tweets = pd.read_csv('../using_twint/musks_tweets.csv')
tweets.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,retweets_count,likes_count,location,hashtags,cashtags,link,retweet,quote_url,video,profile_image_url
0,945814723521417217,945712432416137217,1514334777000,2017-12-26,19:32:57,EDT,44196397,elonmusk,Elon Musk,NaN,...,70,2497,NaN,[],[],https://twitter.com/elonmusk/status/9458147235...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...
1,945749747129659392,945712432416137217,1514319285000,2017-12-26,15:14:45,EDT,44196397,elonmusk,Elon Musk,NaN,...,88,3123,NaN,[],[],https://twitter.com/elonmusk/status/9457497471...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...
2,945748731197980672,945712432416137217,1514319043000,2017-12-26,15:10:43,EDT,44196397,elonmusk,Elon Musk,NaN,...,103,2946,NaN,[],[],https://twitter.com/elonmusk/status/9457487311...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...
3,945730195113365504,945727773493968896,1514314623000,2017-12-26,13:57:03,EDT,44196397,elonmusk,Elon Musk,NaN,...,127,5076,NaN,[],[],https://twitter.com/elonmusk/status/9457301951...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...
4,945729852874694656,945712432416137217,1514314542000,2017-12-26,13:55:42,EDT,44196397,elonmusk,Elon Musk,NaN,...,104,3374,NaN,[],[],https://twitter.com/elonmusk/status/9457298528...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...

In [5]:
#specify the random seed for reproducibility
random.seed(0)

#get a particular tweet text
some_tweet = tweets.iloc[random.randint(1, 100)]['tweet']
print(some_tweet)
#get the 'sentiment' of a particular tweet 
analysis = TextBlob(some_tweet)
print(analysis.sentiment)

Thanks! https://twitter.com/reuters/status/943184202983530498 …
Sentiment(polarity=0.25, subjectivity=0.2)

In [6]:
test = tweets['tweet'][:5]
[TextBlob(x).sentiment for x in test[:5]]

[Sentiment(polarity=0.2, subjectivity=0.3),
 Sentiment(polarity=0.5, subjectivity=0.5),
 Sentiment(polarity=0.5, subjectivity=0.5),
 Sentiment(polarity=0.5, subjectivity=0.8888888888888888),
 Sentiment(polarity=-0.08958333333333335, subjectivity=0.41111111111111115)]

In [7]:
tweets['polarity'] = a= tweets['tweet'].apply(lambda x:TextBlob(x).polarity)
tweets['subjectivity'] = b= tweets['tweet'].apply(lambda x:TextBlob(x).subjectivity)
print(a[:5])
print(b[:5])

0    0.200000
1    0.500000
2    0.500000
3    0.500000
4   -0.089583
Name: tweet, dtype: float64
0    0.300000
1    0.500000
2    0.500000
3    0.888889
4    0.411111
Name: tweet, dtype: float64

In [55]:
tweets.tail()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,link,retweet,quote_url,video,profile_image_url,polarity,subjectivity,weekofyear,weekday,year
2243,546450680689356800,546450680689356800,1419118969000,2014-12-20,18:42:49,EDT,44196397,elonmusk,Elon Musk,NaN,...,https://twitter.com/elonmusk/status/5464506806...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.225000,0.200000,51,5,2014
2244,546055521351270402,546055521351270402,1419024756000,2014-12-19,16:32:36,EDT,44196397,elonmusk,Elon Musk,NaN,...,https://twitter.com/elonmusk/status/5460555213...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.000000,0.000000,51,4,2014
2245,546018982927413248,546018982927413248,1419016044000,2014-12-19,14:07:24,EDT,44196397,elonmusk,Elon Musk,NaN,...,https://twitter.com/elonmusk/status/5460189829...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.200000,0.600000,51,4,2014
2246,545967015521820672,545967015521820672,1419003654000,2014-12-19,10:40:54,EDT,44196397,elonmusk,Elon Musk,NaN,...,https://twitter.com/elonmusk/status/5459670155...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,-0.071429,0.142857,51,4,2014
2247,545965826054963200,545965826054963200,1419003371000,2014-12-19,10:36:11,EDT,44196397,elonmusk,Elon Musk,NaN,...,https://twitter.com/elonmusk/status/5459658260...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.100000,0.300000,51,4,2014

In [9]:
# #store sentiments into dataframe
# #I DONT KNOW HOW TO GET THIS TO WORK?? 
# for index, row in tweets.iterrows():
#     text = tweets.iloc[index]['tweet']
#     analysis = TextBlob(text)
#     row['Polarity'] = analysis.sentiment[0]
#     row['Subjectivity'] = analysis.sentiment[1]

In [39]:
#covert the date column to datetime type
tweets.date = pd.to_datetime(tweets.date)
#append weekofyear, weekday, year based on date, 0=Mon, 6=Sun
tweets['weekofyear'] = tweets['date'].dt.weekofyear
tweets['weekday'] = tweets['date'].dt.weekday
tweets['year'] = tweets['date'].dt.year




# tweets['date'].dt.weekofyear
# tweets['weekofyear'] = tweets.date.weekofyear
# tweets[tweets.date.weekofyear == 1 & tweets.date.year==2017 ]

In [62]:
columns = ['polarity', 'weekofyear']
tweets.loc[tweets['year'] == 2017, columns].groupby('weekofyear').mean()
# .loc[tweets['year'] ==2018]
# .groupby(['weekofyear','year']).mean()
# df_WeekPolarity

            polarity
weekofyear
1           0.155345
2           0.155052
3           0.089129
4           0.103756
5           0.163516
6           0.041667
7           0.250950
8           0.322762
9           0.245312
10          0.239689
11          0.075000
12          0.055149
13          0.056780
14         -0.021429
15          0.143750
16          0.035417
17          0.002381
18          0.108472
19          0.068405
20          0.085267
21          0.122204
22          0.252500
23          0.116206
24          0.083355
25          0.089629
26          0.160443
27          0.119623
28          0.171118
29          0.044685
30          0.094443
31          0.118274
32          0.219006
33          0.087659
34          0.078367
35         -0.020507
36          0.084087
37          0.100769
38          0.287500
39          0.160428
40          0.140816
41          0.109661
42          0.052941
43         -0.205093
45          0.003355
46          0.030714
47          0.181901
48         -0.066863
49         -0.166667
50         -0.157883
51          0.040183
52          0.184784

In [57]:
(tweets['year'] == 2017).unique()

array([ True, False])

In [29]:
tweets.tail()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,cashtags,link,retweet,quote_url,video,profile_image_url,polarity,subjectivity,weekofyear,weekday
2243,546450680689356800,546450680689356800,1419118969000,2014-12-20,18:42:49,EDT,44196397,elonmusk,Elon Musk,NaN,...,[],https://twitter.com/elonmusk/status/5464506806...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.225000,0.200000,51,5
2244,546055521351270402,546055521351270402,1419024756000,2014-12-19,16:32:36,EDT,44196397,elonmusk,Elon Musk,NaN,...,[],https://twitter.com/elonmusk/status/5460555213...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.000000,0.000000,51,4
2245,546018982927413248,546018982927413248,1419016044000,2014-12-19,14:07:24,EDT,44196397,elonmusk,Elon Musk,NaN,...,[],https://twitter.com/elonmusk/status/5460189829...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.200000,0.600000,51,4
2246,545967015521820672,545967015521820672,1419003654000,2014-12-19,10:40:54,EDT,44196397,elonmusk,Elon Musk,NaN,...,[],https://twitter.com/elonmusk/status/5459670155...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,-0.071429,0.142857,51,4
2247,545965826054963200,545965826054963200,1419003371000,2014-12-19,10:36:11,EDT,44196397,elonmusk,Elon Musk,NaN,...,[],https://twitter.com/elonmusk/status/5459658260...,NaN,NaN,0,https://pbs.twimg.com/profile_images/113234336...,0.100000,0.300000,51,4